.module-quill {
    background-color: #f3f3f3;
    margin: 0;
    
    &__html-output {
        max-width: 500px;
        width: 500px;
    }
  
    & *, &-quill, & *::before, & *::after {
        box-sizing: border-box;
    }

    &__editor {
        max-width: 100%;
    };

    &__mail-container, &__is-downloading-container, &__clean-document-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    &__mail-instructions, &__clean-document-instructions {
        background-color: white;
        z-index: 200;
        border-radius: 4px;
        border: 1px solid blue;
        padding: 1rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    }
    &__sendMail {
        display: block;
        margin: 1rem auto .5rem auto;
        width: 5rem;
        cursor: pointer;
    } 
    &__cancelMail {
        display: block;
        width: 5rem;
        margin: auto;
        cursor: pointer;
    }
    &__clean-document-confirm {
        display: block;
        margin: 1rem auto .5rem auto;
        width: 5rem;
        cursor: pointer;
    }
    &__clean-document-cancel {
        display: block;
        width: 5rem;
        margin: auto;
        cursor: pointer;
    }



    // & img {
    //     width: 500px;
    // }
    
    & .ql-download {
        margin-top: -.1rem;
    }
    & .ql-download:after {
        content: url('../src/images/cloud-download.svg');
        zoom: 97%; 
    }

    & .ql-word {
        zoom: 70%;
        
        &:after {
            content: url('../src/images/file-word.svg');
            display: inline-block;
            width: 16px;
            height: auto;
        }
    }

    & .ql-pdf {
        zoom: 70%;

        &:after {
            content: url('../src/images/file-pdf.svg');
            display: inline-block;
            width: 16px;
            height: auto;
        }
    }

    & .ql-mail {
        margin-top: -.25rem;
        zoom: 90%;

        &:after{
            content: url('../src/images/mail_outline.svg');
        }
    }

    & .ql-editor{
        max-width: 90%;
        width: 8.5in;
        min-height: 11in;
        min-height: 100vh;
        padding: 1in;
        margin: 1rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
        background-color: white;
    }
    
    & .ql-container.ql-snow {
        // max-width: 100%;
        border: none;
        display: flex;
        justify-content: center;
    
    }
    & .ql-toolbar.ql-snow {
        // max-width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #f3f3f3;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    }
    &__dropzone-area {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: rgba(0, 0, 0, .5);
    }
    &__instructions {
        position: relative;
        background-color: white;
        padding: 3rem;
        z-index: 200;
        border-radius: 4px;
        border: 1px solid blue;
        cursor: pointer;
    }
    &__cancel-image-button {
        display: block;
        margin: 1rem auto 0 auto;
        cursor: pointer;

    }
}

@page {
    margin: 1in;
}

@media print {
    body {
        background: none;
    }

    .module-quill .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .module-quill > .ql-toolbar.ql-snow {
        display: none;
    }
}